@model MyVibes.Models.Playlist
@{
    ViewBag.Title = "DeleteConfirm";
}

<h2>Delete @Model.PlaylistName</h2>
<div class="delete-container">
    <p>Are you sure you want to delete this playlist?</p>


    <form method="POST" action="/Playlist/Delete/@Model.PlaylistID">
        <div class="input">
            <input type="submit" value="Confirm" class="button" />
        </div>
    </form>
    <div class="navbar">
        <a href="/Playlist/Detail/@Model.PlaylistID">Cancel</a>
    </div>
</div>

