@model List<MyVibes.Models.Playlist>
@{
    ViewBag.Title = "List";
}

<h2 class="title">My Playlists</h2>
<div>
    <a href="/Playlist/New" class="button">New Playlist</a>
</div>


<div class="playlist-list-container">
    @{
        foreach (var Playlist in Model)
        {
            <div class="playlist-info">
                <div class="playlist-name"><a href="Detail/@Playlist.PlaylistID">@Playlist.PlaylistName</a></div>
                <div class="itemdetails">
                    <div><a  class="crud-link" href="Update/@Playlist.PlaylistID">Edit </a><a class="crud-link" href="DeleteConfirm/@Playlist.PlaylistID"> Delete</a></div>
                </div>
            </div>
        }
    }
</div>

