@model MyVibes.Models.Artist

@{
    ViewBag.Title = "DeleteConfirm";
}

<h1 class="title">Delete @Model.StagePersona </h1>
<div class="delete-container">
    <p>Are you sure you want to delete this artist?</p>


    <form method="POST" action="/Artist/Delete/@Model.ArtistID">
        <div class="input">
            <input class="button" type="submit" value="Confirm" />
        </div>
    </form>
    <div class="navbar">
        <a href="/Artist/Detail/@Model.ArtistID">Cancel</a>
    </div>
</div>