@model List<MyVibes.Models.Artist>

@{
    ViewBag.Title = "List";
}

<h2 class="title">My Artists</h2>
<div>
    <a href="/Artist/New" class="button">Add Artist</a>
</div>


<div class="artist-list-container">
    @{
        foreach (var Artist in Model)
        {
        <div class="artist-info">
            <div class="artist-name"><a href="Detail/@Artist.ArtistID">@Artist.StagePersona</a></div>
            <div class="itemimage">
                @{
                    if (Artist.HasPic == 1)
                    {
                        <img src="../../Content/Artists/@(Artist.ArtistID).@(Artist.PicExtension)" alt="Image of @Artist.StagePersona" />
                    }
                }
            </div>
            <div class="itemdetails">

                <div><a class="crud-link" href="Update/@Artist.ArtistID">Edit </a><a class="crud-link" href="DeleteConfirm/@Artist.ArtistID"> Delete</a></div>
            </div>
        </div>
        }
    }
</div>

