@model List<MyVibes.Models.Song>

@{
    ViewBag.Title = "List";
}

<h2 class="title">My Songs</h2>
<div>
    <a href="/Song/New" class="button">New Song</a>
</div>

<div class="song-list-container">
    @{
        foreach (var Song in Model)
        {
            <div class="song-info">
                    <div>
                        <a class="song-name" href="Detail/@Song.SongID">@Song.SongName</a>
                    </div>
                    <div class="crud">
                        <a class="crud-link" href="Update/@Song.SongID">Edit </a>
                        <a class="crud-link" href="DeleteConfirm/@Song.SongID"> Delete</a>
                    </div>
            </div>
        }
    }
</div>

