@model List<MyVibes.Models.Song>

@{
    ViewBag.Title = "List";
}

<h2 class="title">My Songs</h2>


<div class="song-list-container">
    @{
        foreach (var Song in Model)
        {
            <div class="song-info">
                <div class="song-name"><a href="Detail/@Song.SongID">@Song.SongName</a></div>
                <div class="itemdetails">

                    <div><a href="Update/@Song.SongID">edit </a><a href="DeleteConfirm/@Song.SongID"> delete</a></div>
                </div>
            </div>
        }
    }
</div>
<div>
    <a href="/Song/New" class="button">Add Song</a>
</div>
