
@{
    ViewBag.Title = "New";
}

<h2 class="title">Add a Song</h2>
<div class="navbar">
    <a class="back-link" href="/Song/List">Back to my Songs</a>
</div>
<form method="POST" action="/Song/Add" class="form-style">
    <div>
        <span>Name:</span>
        <input id="SongName" type="text" name="SongName" />
    </div>
    <div>
        <span>Duration(Use up to 2 decimals): </span>
        <input id="Duration" type="text" name="Duration" />
        min
    </div>
    <div>
        <span>Genre: </span>
        <input id="Genre" type="text" name="Genre" />
    </div>
    <div>
        <span>Release Date: </span>
        <input id="ReleaseDate" type="date" name="ReleaseDate" />
    </div>
    <a class="navlink" href="/Song/List">Cancel</a>
    <button type="submit">Add Song</button>


</form>
