@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>My Vibes</h1>
    <p class="lead">My Vibes is the playlist managment system that allows you to add your favourite artists and songs, to different fun playlists!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <p><a class="button" href="/Artist/List">Artists</a></p>
    </div>
    <div class="col-md-4">
        <p><a class="button" href="/Song/List">Songs</a></p>
    </div>
    <div class="col-md-4">
        <p><a class="button" href="/Playlist/List">Playlists</a></p>
    </div>

</div>